@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Private banking system is a web application which help user to track their private account balance.<br> 
    User could use private banking system to keep track of their money. A user may have different <br>accounts at different banks. 
    Users can keep track on all the different account balances from each <br>bank at private banking system.</p>
