@{
    ViewBag.Title = "Home Page";
    //The place where you could specify layout file that will be using on this view.
    //Layout = "MyLayout.cshtml";
}

<div class="container">
    <div class="col-md-6 col-md-offset-2 margin-top-20">
        <a href="#" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-circle-arrow-down"></span>  Withdrawal</a>
        <a href="@Url.Action("Details","CheckingAccount")" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-question-sign"></span>  Balance Inquiry</a>
        <a href="@Url.Action("Deposit","Transaction",new {checkingAccountId = ViewBag.CheckingAccountId})" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-circle-arrow-up"></span>  Deposit</a>
    </div>
</div>

@section scripts{
    <script>var testing = true;</script>
}